
.aj {
    box-sizing: border-box;
}

.ak {
    min-width: 1024px;
}

.al {
    max-width: 1920px;
}

.ag {
    background-color: #FFFFFF;
}

.am {
    margin: 0px auto;
}

.an {
    padding: 0px 80px;
}

.ao {
    display: flex;
}

.av {
    height: 1px;
}

.bl {
    flex: 1;
}

.cy {
    margin-top: 80px;
}

.cz {
    background-color: black;
}

.db {
    border: none;
}

.dc {
    margin: 40px 0px;
}

.dd {
    background-color: #F6F6F6;
}

.d0 {
    padding: 72px 0px 88px;
}

.d2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.d3 {
    justify-content: space-between;
}

.d4 {
    align-items: flex-start;
}

.k1 {
    box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
}
