
.aj {
    box-sizing: border-box;
}

.ak {
    min-width: 1024px;
}

.al {
    max-width: 1920px;
}

.ag {
    background-color: #FFFFFF;
}

.am {
    margin: 0px auto;
}

.an {
    padding: 0px 80px;
}

.ao {
    display: flex;
}

.aq {
    align-items: center;
}

.ar {
    height: 80px;
}

.av {
    height: 1px;
}

.bl {
    flex: 1;
}

.bk {
    justify-content: flex-end;
}

.b8 {
    font-size: 16px;
}

.b9 {
    line-height: 24px;
}

.cy {
    margin-top: 80px;
}

.cz {
    background-color: black;
}

.c2 {
    font-size: 14px;
}

.d0 {
    flex: 2;
}

.db {
    border: none;
}

.dc {
    margin: 40px 0px;
}

.dd {
    background-color: #F6F6F6;
}

.de {
    line-height: 40px;
}

.d0 {
    padding: 72px 0px 88px;
}

.d1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.d2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.d3 {
    justify-content: space-between;
}

.d4 {
    align-items: flex-start;
}

.d5 {
    color: #FFFFFF;
}

.d7 {
    font-family: UberMoveText-Regular, sans-serif;
}

.d8 {
    margin-bottom: 24px;
}

.k1 {
    box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
}
