$header-height: 80px;

$item-space-xs: 8px;
$item-space-s: 16px;
$item-space-m: 24px;
$item-space-l: 40px;

$line-height-m: 24px;

$font-size-m: 16px;
$font-size-xl: 32px;

$font-weight-strong: 800;


$style-color-light: #F6F6F6;
$style-color-accent: rgb(62,193,103);
$style-color-deep: rgb(0,0,0);
$style-color-bright: #FFFFFF;

