@import 'src/assets/styles/_variables.scss';
@import 'src/assets/styles/_mixins.scss';

hr {
    background-color: $style-color-light;
}

h1 {
    margin: 0;
}

i {
    font-size: $font-size-xl;
    margin-right: $item-space-m;
}

.footer-row-container {
    display: flex;
    flex-direction: row;
}

.footer-col-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content-big {
    flex: 2;
}

.footer-content-small {
    flex: 1
}

.footer-item {
    margin-bottom: $item-space-s;
    line-height: $line-height-m;
    display: block;
}

.item-strong {
    font-weight: $font-weight-strong;
    margin-bottom: $item-space-m;
}
