<div class="padding-ends">
    <div class="padding-sides">
        <div *ngIf="Loaded" class="footer-container">
            <div class="footer-content-big padding-ends">
                <h1><span style="text-logo-1">Food </span><span class="text-logo-2">Website</span></h1>
            </div>
            <div class="footer-content-small">
                <a class="footer-item item-strong">{{ GetText(3) }}</a>
                <a *ngFor="let item of Items"class="footer-item">{{ GetText(3) }}</a>
            </div>
            <div class="footer-content-small">
                <a class="footer-item item-strong">{{ GetText(3) }}</a>
                <a *ngFor="let item of Items"class="footer-item">{{ GetText(3) }}</a>
            </div>
        </div>
        <hr />
        <div class="footer-container">
            <div class="footer-content-big">
                <div class="c2 de d8 d5"> &copy; {{ Now | date: 'yyyy' }} - Drew Miller </div>
            </div>
            <div class="footer-content-big"></div>
        </div>
    </div>
</div>
