<div class="ak al am aj an">
    <div *ngIf="Loaded" class="ao">
        <div class="a0 d0 d1 d2 d3">
            <h1><span style="font-weight: normal; color: white;">Food </span><span class="accent">Website</span></h1>
        </div>
        <div class="a0 bl d1">
            <div class="b8 b9 ba d5 d8">{{ GetText(3) }}</div>
            <div class="b8 b9 ba d5 d8">{{ GetText(3) }}</div>
            <div class="b8 b9 ba d5 d8">{{ GetText(3) }}</div>
            <div class="b8 b9 ba d5 d8">{{ GetText(3) }}</div>
        </div>
        <div class="a0 bl d1"></div>
    </div>
    <hr class="db av dc dd" />
    <div class="ao">
        <div class="a0 d0 d1 d2 d3">
            <div class="c2 de d8 d5"> &copy; {{ Now | date: 'yyyy' }} - Drew Miller </div>
        </div>
        <div class="a0 d0 d1 d2 d3"></div>
    </div>
</div>
