@import 'assets/styles/_hex.scss';

$accent: rgb(62,193,103);
$header-height: 80px;

* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

#wrapper {
    height: 100%;
    min-width: 100%;
    position: relative;
}

header {
    z-index: 3;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $header-height;
}

main {
    display: block;
    position: relative;
    top: $header-height;
}

footer {
    display: block;
    position: relative;
    top: $header-height;
}

.accent {
    color: $accent;
}

.ml-1 {
    margin-left: 8px;
}
